<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bombas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="bombas-wrapper">

    <!-- Energía -->
    <ion-card class="bomba-card">
      <ion-card-header>
        <ion-card-title>Energía</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="6" size-md="4">
            <app-energia-calle [activa]="energia.calle" nombre="Calle" ></app-energia-calle>
          </ion-col>
          <ion-col size="6" size-md="4">
            <app-v-bateria-grafico [voltajeBateria]="panel2.VBateria"></app-v-bateria-grafico>
          </ion-col>
          <ion-col size="6" size-md="4">
            <app-energia-solar [activa]="energia.solar" nombre="Solar"></app-energia-solar>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>

    <!-- Grupo 01 -->
    <ion-card class="bomba-card">
      <ion-card-header>
        <ion-card-title>Grupo 01</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" size-md="4" size-lg="3">
              <app-bomba-estado
                nombre="Bomba 01"
                [encendida]="grupo01.bomba01"
                (toggle)="toggleBomba('grupo01','bomba01',grupo01.bomba01)">
              </app-bomba-estado>
            </ion-col>
            <ion-col size="auto" class="ion-justify-content-center">
              <app-termometro
                [temperature]="grupo01.temp01"
                [min]="0"
                [max]="100">
              </app-termometro>
            </ion-col>
            <ion-col size="6" size-md="4" size-lg="3">
              <app-bomba-estado
                nombre="Bomba 02"
                [encendida]="grupo01.bomba02"
                (toggle)="toggleBomba('grupo01','bomba02',grupo01.bomba02)">
              </app-bomba-estado>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Grupo 02 -->
    <ion-card class="bomba-card">
      <ion-card-header>
        <ion-card-title>Grupo 02</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="6" size-md="4" size-lg="3">
              <app-bomba-estado
                nombre="Bomba 03"
                [encendida]="grupo02.bomba03"
                (toggle)="toggleBomba('grupo02','bomba03',grupo02.bomba03)">
              </app-bomba-estado>
            </ion-col>
            <ion-col size="auto"class="ion-justify-content-center">
              <app-termometro
                [temperature]="grupo02.temp02"
                [min]="0"
                [max]="100">
              </app-termometro>
            </ion-col>
            <ion-col size="6" size-md="4" size-lg="3">
              <app-bomba-estado
                nombre="Bomba 04"
                [encendida]="grupo02.bomba04"
                (toggle)="toggleBomba('grupo02','bomba04',grupo02.bomba04)">
              </app-bomba-estado>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
